body {
    background: #282931;
    -webkit-font-smoothing: antialiased;
    font-family: 'Varela Round', sans-serif;
    height: 100%;
}



/* TOP MOST NAVBAR SECTION */
nav {
    background: #0082e6;
    height: 80px;
    width: 100%;
}

label.HD-logo {
color: white;
font-size: 35px;
line-height: 80px;
padding: 0 100px;
font-weight: bold;
}

nav ul{
float: right;
margin-right: 20px;
}

nav ul li {
display: inline-block;
line-height: 80px;
margin: 0 5px;
}

nav ul li a{
color: white;
font-size: 17px;
padding: 7px 13px;
border-radius: 3px;
text-transform: uppercase;
}

a.active, a:hover {
background: greenyellow;
transition: .5s;
}



.checkbtn {
font-size: 30px;
color: white;
float: right;
line-height: 80px;
margin-right: 40px;
cursor: pointer;
display: none;
}

#check {
display: none;
}
  
  


/* THE TABLET SIZING */
@media (max-width: 952px) {
    label.logo {
      font-size: 30px;
      padding-left: 50px;
    }
  
    nav ul li a {
      font-size: 16px;}

    .checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display:contents;
    content: "MENU"
    }
    
    #check {
    display: contents;
    }
}

/* THE MOBILE SIZING */
@media (max-width: 800px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
      }
    
      nav ul li a {
        font-size: 16px;}
}

/* THE FIRST SECTION OF PARAGRAPH */
.content1 {
  color: white;
  margin: 20px;
  padding: 20px;
  border: 5px solid aqua;
  margin-bottom: 10%;
}

.content-h1 h1 {
  font-family:  Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
}

.content1 p {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 200px;
    font-size: 20px;
}


/* THE SECTION SECTION OF PARAGRAPH */
.content2 {
    color: white;
    margin: 20px;
    padding: 20px;
    border: 5px solid aqua;
    margin-bottom: 10%;
}

.content-h2 h1 {
font-family:  Arial, Helvetica, sans-serif;
font-size: 30px;
color: white;
display: flex;
text-align: center;
align-items: center;
justify-content: center;
}

.content2 p {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 200px;
    font-size: 20px;
}

/* THE THIRD SECTION OF PARAGRAPH */
.content3 {
    color: white;
    margin: 20px;
    padding: 20px;
    border: 5px solid aqua;
    border-radius: 100%;
    margin-bottom: 10%;
}

.content-h3 h1 {
font-family:  Arial, Helvetica, sans-serif;
font-size: 30px;
color: white;
display: flex;
text-align: center;
align-items: center;
justify-content: center;
}

.content3 p {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 200px;
    font-size: 20px;
}

/* THE TABLET SIZING */
@media (max-width: 952px) {
    .content-h1 h1 {
        font-family:  Arial, Helvetica, sans-serif;
        font-size: 30px;
        color: white;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 20%;
      }

    /* THE THIRD SECTION OF PARAGRAPH */
    .content3 {
        color: white;
        margin: 20px;
        padding: 20px;
        border: 5px solid aqua;
        border-radius: 100%;
        margin-bottom: 10%;
    }

    .content-h3 h1 {
        font-family:  Arial, Helvetica, sans-serif;
        font-size: 30px;
        color: white;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .content3 p {
        font-family: Arial, Helvetica, sans-serif;
        padding-left: 100px;
        font-size: 20px;
    }
}

.last-info h1 {
   color: white;
}

.last-info a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: blue;
    color: white;
    border: 1px solid aqua;
    border-radius: 80%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 200px;
}

.last-info a:hover {
    background-color: white;
    color: green;
    transition: 3s;
}

/* THE MOBILE SIZING */
@media (max-width: 800px) {
    .content-h1 h1 {
        font-family:  Arial, Helvetica, sans-serif;
        font-size: 30px;
        color: white;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 45%;
    }

    /* THE THIRD SECTION OF PARAGRAPH */
    .content3 {
        color: white;
        margin: 20px;
        padding: 20px;
        border: 5px solid aqua;
        border-radius: 100%;
        margin-bottom: 10%;
    }

    .content-h3 h1 {
        font-family:  Arial, Helvetica, sans-serif;
        font-size: 30px;
        color: white;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .content3 p {
        font-family: Arial, Helvetica, sans-serif;
        padding-left: 50px;
        padding-right: 10px;
        font-size: 20px;
    }
}