body {
  background: #282931;
  -webkit-font-smoothing: antialiased;
  font-family: 'Varela Round', sans-serif;
  height: 100%;
}

/* TOP MOST NAVBAR SECTION */
nav {
  background: #0082e6;
  height: 80px;
  width: 100%;
}

label.HD-logo {
color: white;
font-size: 35px;
line-height: 80px;
padding: 0 100px;
font-weight: bold;
}

nav ul{
float: right;
margin-right: 20px;
}

nav ul li {
display: inline-block;
line-height: 80px;
margin: 0 5px;
}

nav ul li a{
color: white;
font-size: 17px;
padding: 7px 13px;
border-radius: 3px;
text-transform: uppercase;
}

nav ul li a.active, a:hover {
background: greenyellow;
transition: .5s;
}

/* MIDDLE BODY */
.topmost {
  margin-left: 20px;
  color: white;
  text-align: center;
  margin: 10%;
}

.topmost h1 {
  font-family: algerian;
  font-size: 30px;
  align-items: center;
}

.topmost p {
  font-size: 20px;
  padding: 10%;
  border: 2px solid lightgreen;
}




/* CONTACT US SECTION */
.contact-card {
  display: flex;
  width: auto;
  border: 1px solid blue;
  border-radius: 30px;
  padding: 20px;
  backdrop-filter: blur(50px); /* Adjust the blur strength as needed */
  z-index: 2;
  background: linear-gradient(50deg,  #ff007f,  #cc00aa);
  color: black;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.contact-left h1{
  color: white;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.contact-left p{
  color: white;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.contact-container {
  border-radius: 30px;
  margin: 2% 5% 2% 5%;
  padding: 1% 2% 1% 2%;
  background-color: lightgrey;
  border-color: teal;
  border-style: dashed;
  width: fit-content;
}

.contact-container p {
  color: black;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.contact-container input {
  width: 300px;
  border-radius: 10%;
}

.contact-container select {
  width: 300px;
  height: 30px;
  border-radius: 10%;
}

.sub-btn input {
  color: white;
  background-color: #ff007f;
  border-radius: 20px;
}


.foot {
  text-align: center;
  font-family: 'Special Elite', Helvetica, sans-serif;
  color: green;
  padding: 0% 0% 1% 0%;
}



.button {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  background-color: white;
  cursor: pointer;
  padding: 2% 0% 2% 0%;
}

textarea {
  width: 100%;
  height: 100px;
  margin-top: 1.5%;
  resize: none;
  background-color: white;
  border: 2px solid black;
  font-family: Helvetica, sans-serif;
  font-size: 1.2em;
  color: black;
}

@media (max-width: 952px) {

/* THE CONTACT SECTION */
.contact-card {
  flex-direction: column;
}

.contact-container {
  border-radius: 25px;
  margin: 0% 3% 5% 3%;
  padding: 3% 5% 3% 5%;
  background-color: lightgrey;
  color: green;
} 
}

/* THE MOBILE SIZING */
@media (max-width: 800px) {
/* THE CONTACT SECTION */
  .contact-card {
    flex-direction: column;
  }

  .contact-container {
    border-radius: 25px;
    margin: 0% 3% 5% 3%;
    padding: 3% 5% 3% 5%;
    background-color: lightgrey;
    color: green;
  } 
}

.contact-info {
  margin: 10px;
}

.contact-info h1 {
  font-family:  Helvetica, Arial, sans-serif;
  font-size: 30px;
  color: white;
  text-align: center;
  
}

.contact-info h2 {
  font-family:  Helvetica, Arial, sans-serif;
  font-size: 30px;
  color: white;
  text-align: center;
}

.contact-info h3 {
  font-family:  Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
}

.social-md {
	display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.social-md ul {
	display: flex;
}

.social-md ul li {
	list-style-type: none;
  margin-left: 10%;
	/* margin-left: 1%;
	margin-right: 10%; */
}

.social-md ul li a {
	text-decoration: none;
	display: flex;
	align-items: space-between;
}

.social-md ul li a img{
  width: 50px;
  height: 50px;
  border-radius: 100%;
	transition-property: transform;
	transition-duration: 2s;
	transition-timing-function: linear infinite;
}

.social-md ul li a img:hover{
	height: 50px;
	width: 50px;
	border-radius: 50px;
	transform: translateY(-8px) scale(1.0);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 1);
    border: 1cm solid linear-gradient(48deg, rgb(221, 218, 8) 40%, rgb(158, 14, 177) 100%);
}


textarea {
  width: 70%;
  height: 3cm;
}

.personal-info {
  display: flex;
  flex-direction: column;
  line-height: 10px;
  text-align: center;
  border: 3px solid lightgreen;
  border-radius: 10%;
}



.username {
  padding: 10px;
}

.useremail {
  padding: 10px;
}

.usermessage {
  padding: 10px;
  width: 100px;
  height: 200px;
}

.usersubmit {
  padding: 20px;
  margin: 10px;
}



/* FOOTER SECTION */
.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30%;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url('wave.png') repeat-x;
  /* background: url("https://i.ibb.co/wQZVxxk/wave.png"); */
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite !important;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite ;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}


#s1:checked ~ #slide4, #s2:checked ~ #slide5,
#s3:checked ~ #slide1, #s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  transform: translate3d(-30%,0,-200px);
}

#s1:checked ~ #slide5, #s2:checked ~ #slide1,
#s3:checked ~ #slide2, #s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(-15%,0,-100px);
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide3, #s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
  transform: translate3d(0,0,0);
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide4, #s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(15%,0,-100px);
}

#s1:checked ~ #slide3, #s2:checked ~ #slide4,
#s3:checked ~ #slide5, #s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  transform: translate3d(30%,0,-200px);
}

#slide1 { background-image: url("IMAGES/SLIDES/image1.jpg");
          background-size: cover;}
#slide2 { background-image: url("IMAGES/SLIDES/image2.png");
          background-size: cover;}
#slide3 { background-image: url("IMAGES/SLIDES/image3.jpg");
          background-size: cover;}
#slide4 { background-image: url("IMAGES/SLIDES/fb1.png");
          background-size: cover; }
#slide5 { background-image: url("IMAGES/SLIDES/fb3.png");
          background-size: cover; }

.services-p::before,
.services-p::after {
    content: "";
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.services-p::before {
    text-transform: lowercase;
    background: aqua;
    animation: typewriter 3s steps(23) forwards;
}

@keyframes typewriter {
    to{
        left: 100%;
        height: 100%;
    }
}

.box {
    margin-top: 10%;
    margin-left: 40%;
    margin-right: 30%;
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;
}

@keyframes animate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
}

.box span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding:0%;
}







