body {
    background: #282931;
    -webkit-font-smoothing: antialiased;
    font-family: 'Varela Round', sans-serif;
    height: 100%;
}

/* TOP MOST NAVBAR SECTION */
nav {
    background: #0082e6;
    height: 80px;
    width: 100%;
}

label.HD-logo {
color: white;
font-size: 35px;
line-height: 80px;
padding: 0 100px;
font-weight: bold;
}

nav ul{
float: right;
margin-right: 20px;
}

nav ul li {
display: inline-block;
line-height: 80px;
margin: 0 5px;
}

nav ul li a{
color: white;
font-size: 17px;
padding: 7px 13px;
border-radius: 3px;
text-transform: uppercase;
}

nav ul li a.active, a:hover {
background: greenyellow;
transition: .5s;
}

/* MIDDLE SECTION */
.features-x {
    display: flex;
    /* flex-wrap: nowrap; */
}

.card1 {
    margin-left: 20px;
    color: white;
    text-align: center;
}

.card1 h {
    font-family: algerian;
    font-size: 30px;
    
}

.card1 p {
    font-size: 15px;
    padding: 10%;
    border: 2px solid lightgreen;
}

.card2 {
    margin-left: 20px;
    color: white; 
}

.card2 h1 {
    font-family: algerian;
    font-size: 30px;
    text-align: center;
}

.card2 p {
    font-size: 20px;
    padding: 10%;
    border: 2px solid lightgreen;
}

.title-x {
    margin-top: 5%;
    margin-bottom: 0%;
    font-family: algerian;
    font-size: 40px;
    color: green;
    text-align: center;
    align-items: center;
}

.price-card1 {
    min-width: 500px;
    min-height: fit-content;
    background: aqua;
    margin: 3px 25px 3px 25px;
    text-align: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 38px;
    box-sizing: border-box;
    color: green;
    animation-name: content-anime1;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

.price-card1 h {
    font-family: "Seaweed Script";
    font-size: 30px;
}

/* .price-card1:hover {
    transform: translateY(-5px) scale(1.1);
    background-image: none;
    box-shadow: 20px 20px 10px lightgreen;
    padding: 0.5%;
    border: 0.1cm solid aqua;
    border-radius: 4cm;
    border-right: 4cm;
    color: green;
    text-align: center;
    align-items: center;
    padding-top: 50px;
    padding: 20%;
    border-top-left-radius: 0.8cm;
    border-top-right-radius: 0.8cm;
    border-bottom-left-radius: 0.8cm;
    border-bottom-right-radius: 0.8cm;
} */




.price-card2 {
    min-width: 500px;
    min-height: fit-content;
    background: aqua;
    margin: 25px;
    text-align: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 50px;
    box-sizing: border-box;
    color: green;
    animation-name: content-anime1;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

.price-card2 h {
    font-family: "Seaweed Script";
    font-size: 30px;
}

/* .price-card2:hover {
    transform: translateY(-20px) scale(1.1);
    background-image: none;
    box-shadow: 20px 20px 10px lightgreen;
    padding: 0.5%;
    border: 0.1cm solid aqua;
    border-radius: 4cm;
    border-right: 4cm;
    color: green;
    flex-flow: wrap;
    overflow: auto;
    padding: 20%;
    border-top-left-radius: 0.8cm;
    border-top-right-radius: 0.8cm;
    border-bottom-left-radius: 0.8cm;
    border-bottom-right-radius: 0.8cm;
} */

.price-card3 {
    min-width: 500px;
    min-height: fit-content;
    background: aqua;
    margin: 3px 25px 3px 25px;
    text-align: center;
    align-items: center;
    padding-top: 50px;
    box-sizing: border-box;
    color: green;
    animation-name: content-anime1;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

.price-card3 h {
    font-family: "Seaweed Script";
    font-size: 30px;
}

/* .price-card3:hover {
    transform: translateY(-20px) scale(1.1);
    background-image: none;
    box-shadow: 20px 20px 10px lightgreen;
    padding: 0.5%;
    border: 0.1cm solid aqua;
    border-radius: 4cm;
    border-right: 4cm;
    color: green;
    flex-flow: wrap;
    overflow: auto;
    padding: 20%;
    border-top-left-radius: 0.8cm;
    border-top-right-radius: 0.8cm;
    border-bottom-left-radius: 0.8cm;
    border-bottom-right-radius: 0.8cm;
} */

.price-card4 {
    min-width: 500px;
    min-height: fit-content;
    background: aqua;
    margin: 25px;
    text-align: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 3px;
    box-sizing: border-box;
    color: green;
    animation-name: content-anime1;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

.price-card4 h {
    font-family: "Seaweed Script";
    font-size: 30px;
}


/* .price-card4:hover {
    transform: translateY(-20px) scale(1.1);
    background-image: none;
    box-shadow: 20px 20px 10px lightgreen;
    padding: 0.5%;
    border: 0.1cm solid aqua;
    border-radius: 4cm;
    border-right: 4cm;
    color: green;
    flex-flow: wrap;
    overflow: auto;
    padding: 20%;
    border-top-left-radius: 0.8cm;
    border-top-right-radius: 0.8cm;
    border-bottom-left-radius: 0.8cm;
    border-bottom-right-radius: 0.8cm;
} */

.price-card5 {
    min-width: 500px;
    min-height: fit-content;
    background: aqua;
    margin: 50px;
    text-align: center;
    align-items: center;
    padding-top: 50px;
    box-sizing: border-box;
    color: green;
    animation-name: content-anime1;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

.price-card5 h {
    font-family: "Seaweed Script";
    font-size: 30px;
}


/* .price-card4:hover {
    transform: translateY(-20px) scale(1.1);
    background-image: none;
    box-shadow: 20px 20px 10px lightgreen;
    padding: 0.5%;
    border: 0.1cm solid aqua;
    border-radius: 4cm;
    border-right: 4cm;
    color: green;
    flex-flow: wrap;
    overflow: auto;
    padding: 20%;
    border-top-left-radius: 0.8cm;
    border-top-right-radius: 0.8cm;
    border-bottom-left-radius: 0.8cm;
    border-bottom-right-radius: 0.8cm;
} */

@keyframes content-anime1 {
    0%{left: -1000px;}
    100%{left: 0;}
}

/* FOOTER SECTION */
.footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30%;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  
  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url('wave.png') repeat-x;
    /* background: url("https://i.ibb.co/wQZVxxk/wave.png"); */
    background-size: 1000px 100px;
  }
  
  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite !important;
  }
  
  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite ;
  }
  
  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }
  
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  
  #s1:checked ~ #slide4, #s2:checked ~ #slide5,
  #s3:checked ~ #slide1, #s4:checked ~ #slide2,
  #s5:checked ~ #slide3 {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(-30%,0,-200px);
  }
  
  #s1:checked ~ #slide5, #s2:checked ~ #slide1,
  #s3:checked ~ #slide2, #s4:checked ~ #slide3,
  #s5:checked ~ #slide4 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(-15%,0,-100px);
  }
  
  #s1:checked ~ #slide1, #s2:checked ~ #slide2,
  #s3:checked ~ #slide3, #s4:checked ~ #slide4,
  #s5:checked ~ #slide5 {
    box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
    transform: translate3d(0,0,0);
  }
  
  #s1:checked ~ #slide2, #s2:checked ~ #slide3,
  #s3:checked ~ #slide4, #s4:checked ~ #slide5,
  #s5:checked ~ #slide1 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(15%,0,-100px);
  }
  
  #s1:checked ~ #slide3, #s2:checked ~ #slide4,
  #s3:checked ~ #slide5, #s4:checked ~ #slide1,
  #s5:checked ~ #slide2 {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(30%,0,-200px);
  }
  
  #slide1 { background-image: url("IMAGES/SLIDES/image1.jpg");
            background-size: cover;}
  #slide2 { background-image: url("IMAGES/SLIDES/image2.png");
            background-size: cover;}
  #slide3 { background-image: url("IMAGES/SLIDES/image3.jpg");
            background-size: cover;}
  #slide4 { background-image: url("IMAGES/SLIDES/fb1.png");
            background-size: cover; }
  #slide5 { background-image: url("IMAGES/SLIDES/fb3.png");
            background-size: cover; }
  
  .services-p::before,
  .services-p::after {
      content: "";
      position:absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
  }
  
  .services-p::before {
      text-transform: lowercase;
      background: aqua;
      animation: typewriter 3s steps(23) forwards;
  }
  
  @keyframes typewriter {
      to{
          left: 100%;
          height: 100%;
      }
  }
  
  .box {
      margin-top: 10%;
      margin-left: 40%;
      margin-right: 30%;
      position: relative;
      width: 200px;
      height: 200px;
      transform-style: preserve-3d;
      animation: animate 20s linear infinite;
  }
  
  @keyframes animate {
      0% {
          transform: perspective(1000px) rotateY(0deg);
      }
      100% {
          transform: perspective(1000px) rotateY(360deg);
      }
  }
  
  .box span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform-origin: center;
      transform-style: preserve-3d;
      transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
      -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
  }
  
  .box span img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      padding:0%;
  }

/* PURCHASE SECTION */
.payment-card {
    display: flex;
    width: auto;
    border: 1px solid blue;
    border-radius: 30px;
    padding: 20px;
    backdrop-filter: blur(50px); /* Adjust the blur strength as needed */
    z-index: 2;
  }
  
  .timer {
    font-size: 1.5rem;
    color: red;
    font-size: 40px;
  }
  
  .payment-left p{
    font-size: 15px;
  }
  
  
  cursor {
    color: white;
  }
  
  input, select {
    width: 100%;
    margin-top: 1.5%;
    background: transparent;
    border: none;
    border-bottom: 2px solid teal;
    font-size: 1.2em;
    color: green;
  }
  
  #dropdown {
    border: 2px solid teal;
  }
  
  [type="checkbox"],
      [type="radio"] {
              width: auto;
      }
  
  fieldset {
    border-color: teal;
    border-style: solid;
  }
  
  .payment-container {
    border-radius: 30px;
    margin: 2% 5% 2% 5%;
    padding: 1% 2% 1% 2%;
    background-color: lightgray;
    border-color: teal;
    border-style: dashed;
    width: fit-content;
  }
  
  
  .foot {
    text-align: center;
    font-family: 'Special Elite', Helvetica, sans-serif;
    color: green;
    padding: 0% 0% 1% 0%;
  }
  
  
  
  /* Style the PayPal button */
  input[type="image"] {
      border: none;
      cursor: pointer;
      display: block;
      margin: 0 auto;
  }

#Purchase {
    background-color: lawngreen;
    margin-top: 0px;
    /* Remove fixed height */
    height: auto;
    /* Allow text to wrap */
    word-wrap: break-word;
    padding: 5%;
}
  

  /* THE TABLET AND MOBILE SIZING SETTINGS  */

/* THE TABLET SIZING */
@media (max-width: 952px) {
    .bxes{
        width: 40%;}
    .boxed1 {margin-bottom: 10%;}
    .boxed2 {margin-bottom: 10%;}
    .boxed3 {margin-bottom: 10%;}
    .boxed4 {margin-bottom: 10%;}
    .boxed5 {margin-bottom: 10%;}
    .boxed6 {margin-bottom: 10%;}

    /* SUBSCRIBE SECTION */

.subscribe-container{
    width: 80%;
    height: 400px;
    background: linear-gradient(50deg,  #ff007f,  #cc00aa);
    margin: 20px;
    padding-left: 30%;
    align-items: center;
    box-sizing: border-box;
    color: white;
    flex-flow: wrap;
    overflow: hidden;
    border-radius: 30%;
	animation-name: content-anime1;
	animation-duration: 5s;
	animation-fill-mode: forwards;
}

.subscribe-container h2 {
    font-family: Arvo;
    font-weight: bold;
    font-size: 20px;
}

.subscribe-container form input {
    border-radius: 30%;
    border-color: green;
    color: blue;
    background-color: white;
    max-width: 50%;
}

.subscribe-container form label {
    font-family: Arvo;
    font-weight: bold;
    font-size: 30px;
}

.subscribe-container a {
    display: inline-block;
    padding: 10px;
    margin-left: 10%;
    width: 50%;
    height: 20px;
    align-items: center;
    justify-content: center;
    background-color: #d30e4c;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}



}

/* THE MOBILE SIZING */
@media (max-width: 800px) {
    .bxes{
        width: 90%;}

    .boxed1 {margin-bottom: 10%;}
    .boxed2 {margin-bottom: 10%;}
    .boxed3 {margin-bottom: 10%;}
    .boxed4 {margin-bottom: 10%;}
    .boxed5 {margin-bottom: 10%;}
    .boxed6 {margin-bottom: 10%;}

    /* SUBSCRIBE SECTION */

.subscribe-container{
    width: 80%;
    height: 450px;
    background: linear-gradient(50deg,  #ff007f,  #cc00aa);
    margin: 5px;
    padding-left: 5%;
    align-items: center;
    box-sizing: border-box;
    color: white;
    flex-flow: wrap;
    overflow: hidden;
    border-radius: 30%;
	animation-name: content-anime1;
	animation-duration: 5s;
	animation-fill-mode: forwards;
}

.subscribe-container h2 {
    font-family: Arvo;
    font-weight: bold;
    font-size: 20px;
    padding-left: 10%;
    padding-top: 5%;
}

.subscribe-container form input {
    border-radius: 10%;
    border-color: green;
    color: blue;
    background-color: white;
    width: fit-content;
}

.subscribe-container form label {
    font-family: Arvo;
    font-weight: bold;
    font-size: 20px;
}

.subscribe-container a {
    display: inline-block;
    padding: 10px;
    margin-left: 10%;
    width: 50%;
    height: 20px;
    align-items: center;
    justify-content: center;
    background-color: #d30e4c;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* THE PAYMENT SECTION */
.payment-card {
    flex-direction: column;
  }

  .payment-container {
    border-radius: 25px;
    margin: 0% 3% 5% 3%;
    padding: 3% 5% 3% 5%;
    background-color: lightgrey;
    color: green;
  }

}

/* OTHER SECTION */