/* TOP HEADER SECTION  */


body {
    /* background: #282931; */
    scroll-behavior: smooth;
    color: black;
    -webkit-font-smoothing: antialiased;
    font-family: 'Varela Round', sans-serif;
    height: 100%;
    background: linear-gradient(to right, #40fdf1, #3b68bc, #4747a8);
}

section {
    width: 100%;
    margin: 5%;
    padding: 1%;
    color: white;
}


/* TOP MOST NAVBAR SECTION */
nav {
    background: #0082e6;
    height: 80px;
    width: 100%;
  }
  
  label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  
  nav ul {
    float: right;
    margin-right: 20px;
  }
  
  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  
  nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  
  a.active,a:hover {
    background: #14f908;
    transition: .10s;
  }
  
  .checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  
  #check {
    display: none;
  }

  /* THE END OF NAV BAR */


.intro-content {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5%;
 }


 
 #top-intro img {
    width: 100%;
    margin-bottom: 0%;
 }

 .intro-content h1 {
    font-family: "Algerian", 'Arial Black','Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: white;
 }
 
 .intro-content p {
     font-family: 'Arial Black','Arial Narrow Bold', sans-serif;
     font-size: 15px;
     color: blue;
 }
 
 .intro-content h2 {
     font-family: 'Arial Black','Arial Narrow Bold', sans-serif;
     font-size: 20px;
     color: black;
 }
 
 #spin {
     color: rgb(17, 248, 9);
     background-color: #010615;
 }
 
 #spin:after {
 content: "";
 animation: spin 30s ease-in-out infinite;
 }
 
 @keyframes spin {
 0% {content: "SECURE YOUR BUSINESS DATA !!!";}
 10% {content: "PROFICIENTLY ORGANIZE YOUR BUSINESS DATA !!!";}
 20% {content: "FAST RECORD & RETRIVE YOUR BUSINESS DATA !!!";}
 30% {content: "PERFORM EASY UNDERSTANDABLE BUSINESS ANALYSICS !!!";}
 40% {content: "FAST & PROFICIENT STOCK INTAKE !!!";}
 50% {content: "MANAGE & HAVE YOUR CUSTOMERS CLOSE !!!";}
 60% {content: "WORK EFFICIENTLY WITH YOUR VENDORS/SUPPLIERS!!!";}
 70% {content: "KNOW WHO IS INVOLVED TRANSPORTING YOUR PRODUCTS !!!";}
 80% {content: "RECORD, MANAGE, ORGANIZE  AND TRACK YOUR EXPENSES !!!";}
 90% {content: "NOW CREATE, RECORD, TRACK AND ORGAINIZE YOUR INVOICES !!!";}
 100% {content: "NEVER HAVE NO WORRIES ABOUT TRACKING CUSTOMER DEBTS !!!";}
 }
   
 
 


/* THE INTRODUCTION SECTION  */
#introduction img {
   width: 80%;
   height: 80px;
}


#introduction h1 {
    font-family: Algerian, Helvetica, sans-serif;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5%;
}

#introduction p {
    font-family: Arial Black, Helvetica, sans-serif;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5%;
}

.more-features-btn button{
    width: 400px;
    height: 30px;
    border: 2px solid green;
    border-radius: 5%;
    background: white;
    color:white;
}

.main-contributors {
    display:flex;
    margin: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-cont1 {
    padding: 50px;
}

.main-cont img {
    width: 50px;
    height: 100px;
}


/* THE FEATURES SECTION  */
#Features img {
    width: 80%;
    height: 80px;
}

#Features h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    text-align: start;
    margin-bottom: 5%;
}

#Featues p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    text-align: start;
    margin-bottom: 5%;
}

.features-top h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5%;
}

.features-top p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5%;
}

/* THE FAQS SECTION  */
#faqs img {
    width: 80%;
    height: 80px;
}


/* THE PURCHASE SECTION  */

.Purchase {
    display: flex;
}

.payment-card {
    display: flex;
    width: auto;
    border: 1px solid blue;
    border-radius: 30px;
    padding: 20px;
    backdrop-filter: blur(50px); /* Adjust the blur strength as needed */
    z-index: 2;
}



/* THE TABLET SIZING */
@media (max-width: 800px) {
    .payment-card {
      display: flex;
      flex-direction: column;
   }

   .payment-contaner{
       width: 200px;
       padding: 2px 5px 2px 132px;
   }
}


.timer {
    font-size: 1.5rem;
    color: red;
    font-size: 40px;
}

.payment-left p{
font-size: 15px;
}

cursor {
color: white;
}

.payment-container input {
color: #fff;
background-color: blue;
}


/* Styling for the button */
.cool-button {
    width: 200px;
    display: inline-block;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background-color: #d30e4c;
    color: white;
    font-size: 12px;
    border: none;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

input, select {
    width: 100%;
    margin-top: 1.5%;
    background: transparent;
    border: none;
    border-bottom: 2px solid blue;
    font-size: 1.2em;
    color: blue;
    background-color: whitesmoke;
}

#dropdown {
border: 2px solid blue;
}

[type="checkbox"],
    [type="radio"] {
            width: auto;
    }

fieldset {
border-color: blue;
border-style: solid;
}

.payment-container {
border-radius: 30px;
margin: 2% 5% 2% 5%;
padding: 1% 2% 1% 2%;
background-color: lightgray;
border-color: blue;
border-style: dashed;
width: fit-content;
color: white;
}

/* THE CONTACT SECTION  */
#contact {
    display: flex;
    flex-wrap: wrap;
}


.contact {
    display: flex;
}

.contact-card {
 width: 20px;
 height: 30px;
 z-index: -2;
}

.contact-card {
    display: flex;
    width: auto;
    border: 1px solid blue;
    border-radius: 30px;
    padding: 20px;
    backdrop-filter: blur(50px); /* Adjust the blur strength as needed */
    z-index: 2;
}


/* THE TABLET SIZING */
@media (max-width: 800px) {
    .contact-card {
      display: flex;
      flex-direction: column;
   }

   .contact-contaner{
       width: 200px;
   }
}


.timer {
    font-size: 1.5rem;
    color: red;
    font-size: 40px;
}

.contact-left p{
font-size: 15px;
}

cursor {
color: white;
}


.contact-container input {
color: white;
}

.contact-form {
    border-radius: 1px solid grey;
    border-radius: 10%;
    background: rgb(17, 248, 9);
    width: 80%;
    height: auto;
    margin: 10%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

/* Styling for the button */
.cool-button {
    width: 200px;
    display: inline-block;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background-color: #d30e4c;
    color: white;
    font-size: 12px;
    border: none;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

input, select {
    width: 100%;
    margin-top: 1.5%;
    background: transparent;
    border: none;
    border-bottom: 2px solid blue;
    font-size: 1.2em;
    color: blue;
    background-color: whitesmoke;
}

#dropdown {
border: 2px solid blue;
}

[type="checkbox"],
    [type="radio"] {
            width: auto;
    }

fieldset {
border-color: blue;
border-style: solid;
}

.contact-container {
    border-radius: 30px;
    margin: 2% 5% 2% 5%;
    padding: 1% 2% 1% 2%;
    background-color: lightgray;
    border-color: blue;
    border-style: dashed;
    width: fit-content;
    color: white;
}

/*
#contact {
    align-items: center;
    display: flex;
} */

/* THE SUBSCRIBE SECTION */
.subscribe-form {
    border-radius: 1px solid grey;
    border-radius: 10%;
    background: rgb(17, 248, 9);
    width: 80%;
    height: auto;
    margin: 10%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.subscribe-form h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1px;
}

.subscribe-form p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.subscribe-form input {
    width: 200px;
}