@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");



ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.slider {
  width: 100%;
  height: 80%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px; }

.circular-slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: #222; }

.description {
  font-size: 20px;
}

.circular-slider .wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 20px 0px 20px;
  overflow: hidden; }

.circular-slider .wrapper .controls__left, .circular-slider .wrapper .controls__right, .circular-slider .wrapper .controls__autoplay {
  position: absolute;
  z-index: 101;
  -webkit-transition: .6s all;
  -o-transition: .6s all;
  transition: .6s all; }

.circular-slider .wrapper .controls__left:hover .icon-wrapper, .circular-slider .wrapper .controls__right:hover .icon-wrapper, .circular-slider .wrapper .controls__autoplay:hover .icon-wrapper {
  font-size: 5.0em;
  opacity: 1; }

.circular-slider .wrapper .controls__left .icon-wrapper, .circular-slider .wrapper .controls__right .icon-wrapper, .circular-slider .wrapper .controls__autoplay .icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #8EB8E5;
  font-size: 10.0em;
  opacity: .7; }

.circular-slider .wrapper .controls__left, .circular-slider .wrapper .controls__right {
  top: 50%; }

.circular-slider .wrapper .controls__left {
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.circular-slider .wrapper .controls__left:hover {
  left: 0; }

.circular-slider .wrapper .controls__right {
  right: 0;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%); }

.circular-slider .wrapper .controls__autoplay {
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%); }

.circular-slider .wrapper .controls__autoplay_running .pause {
  display: block; }
.circular-slider .wrapper .controls__autoplay_running .run {
  display: none; }
.circular-slider .wrapper .controls__autoplay_paused .pause {
  display: none; }
.circular-slider .wrapper .controls__autoplay_paused .run {
  display: block; }

.circular-slider .wrapper .slides-holder {
  border-radius: 50%;
  border: 2px solid #8EB8E5;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 100; }

.circular-slider .wrapper .slides-holder__item {
  border-radius: 50%;
  border: 2px solid #7C99B4;
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  background-color: #222;
  -webkit-transition: .3s linear all;
  -o-transition: .3s linear all;
  transition: .3s linear all;
  -webkit-filter: brightness(70%);
  filter: brightness(70%); }

.circular-slider .wrapper .slides-holder__item img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.circular-slider .wrapper .slides-holder__item_active {
  -webkit-filter: brightness(100%);
  filter: brightness(100%); }

.circular-slider .wrapper .descriptions {
  position: absolute;
  bottom: 0%;
  z-index: 0; }

.circular-slider .wrapper .descriptions__item {
  width: 100%;
  height: 0%;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: opacity 0s 0s linear;
  -o-transition: opacity 0s 0s linear;
  transition: opacity 0s 0s linear; }

.circular-slider .wrapper .descriptions__item_visible {
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity .6s 0s linear;
  -o-transition: opacity .6s 0s linear;
  transition: opacity .6s 0s linear; }

.descriptions p {
  font-size: 3.8em;
}

.circular-slider .wrapper .descriptions__item h1, .circular-slider .wrapper .descriptions__item .description {
  font-family: Helvetica, sans-serif;
  color: white;
  text-align: center; }

.circular-slider .wrapper .descriptions__item h1 {
  font-size: 4.0em;
  padding-top: 5px; }

.circular-slider .wrapper .descriptions__item .description {
  font-size: 1.7em;
  margin-top: 5px;
  padding: 0% 10%;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow-y: hidden; }

/* body {
  /* height: 100vh; 
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; 
    margin-top: 0%;} */


/* TOP MOST NAVBAR SECTION */
nav {
  background: #0082e6;
  height: 80px;
  width: 100%;
}

label.HD-logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul{
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active, a:hover {
  background: gree nyellow;
  transition: .5s;
}



.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}


.script {
  font-family: "Seaweed Script";
  color: #fff;
  text-align: center;
  font-size: 2px;
  position: relative;
  margin: 10;
}

.script span {
  background-color: #222;
  padding: 0 0.3em;
}

.script:before {
  content:"";
  display: block;
  position: absolute;
  z-index: 3;
  top: 10%;
  width: 0.2%;
  border-bottom: 3px solid #fff;
}

/* THE TOP NAVIGATION BAR */
.checkbtn {
  display: block;
}

ul{
  position: fixed;
  width: 100%;
  height: 100vh;
  background:#010615;
  top: 80px;
  left: -100%;
  text-align: center;
  transition: all .5s;
}
nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
}
nav ul li a{
  font-size: 20px;
}

a:hover, a.active {
  background: none;
  color: #0082e6;
}

#check:checked ~ ul {
  left: 0;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: lightgray;
  line-height: 1.6;
  height: 100vh;
}

/* TESTIMONIAL SECTION */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}

section h1 {
  font-size: 2rem;
}

section p {
  font-size: 0.8rem;
}

#Introduction {
  margin-top: 0%;
  background-color: #00bcd4;
  margin-top: 0px;
  /* Remove fixed height */
  height: auto;
  /* Allow text to wrap */
  word-wrap: break-word;
  padding: 5%;
}

#More{
  background-color: white;
  margin-top: 0px;
  /* Remove fixed height */
  height: auto;
  /* Allow text to wrap */
  word-wrap: break-word;
  padding: 5%;
}

#Features{
  background-color: grey;
  margin-top: 0px;
  /* Remove fixed height */
  /* height: auto; */
  /* Allow text to wrap */
  word-wrap: break-word;
  padding: 5%;
}

#Purchase {
  background-color: lawngreen;
  margin-top: 0px;
  /* Remove fixed height */
  height: auto;
  /* Allow text to wrap */
  word-wrap: break-word;
  padding: 5%;
}

#Contact {
  margin-top: 0px;
  /* Remove fixed height */
  height: auto;
  /* Allow text to wrap */
  word-wrap: break-word;
  padding: 5%;
}


/* INTRO SECTION */
.top-header {
  display: flex;
}

.top-header .header-img img{
  width:auto;
  height: 200px;
}

.plate {
  width: 450px;
  margin-top: 0%;
  padding-top: 0%;
  margin-left: 0.5%;
  padding-left: 0.5%;
  margin-right: 30%;
}

.shadow {
  color: #fff;
  font-family: Arvo;
  font-weight: bold;
  text-shadow:
    -3px -3px 0 #222,
    3px -3px 0 #222,
    -3px 3px 0 #222,
    3px 3px 0 #222,
    4px 4px 0 #fff,
    5px 5px 0 #fff,
    6px 6px 0 #fff,
    7px 7px 0 #fff;
  line-height: 0.8em;
  letter-spacing: 0.1em;
  transform: scaleY(0.7);
  -webkit-transform: scaleY(0.7);
  -moz-transform: scaleY(0.7);
  margin:0;
  text-align: center;
}

.script {
  font-family: "Seaweed Script";
  color: #fff;
  text-align: center;
  font-size: 20px;
  position: relative;
  margin: 10;
}

.script span {
  background-color: #222;
  padding: 0 0.3em;
}

.script:before {
  content:"";
  display: block;
  position: absolute;
  z-index: 3;
  top: 10%;
  width: 30%;
  border-bottom: 3px solid #fff;
}

.text1 {
  font-size: 30px;
}

.text2 {
  font-size: 80px;
}

.text3 {
  font-size: 30px;
}

.top-header-content {
  margin-top: 5%;
  margin-left: 3%;
  
}

#spin {
  color: green;
  background-color: #010615;
}

#spin:after {
  content: "";
  animation: spin 30s ease-in-out infinite;
}

@keyframes spin {
  0% {content: "SECURE YOUR BUSINESS DATA !!!";}
  10% {content: "PROFICIENTLY ORGANIZE YOUR BUSINESS DATA !!!";}
  20% {content: "FAST RECORD & RETRIVE YOUR BUSINESS DATA !!!";}
  30% {content: "PERFORM EASY UNDERSTANDABLE BUSINESS ANALYSICS !!!";}
  40% {content: "FAST & PROFICIENT STOCK INTAKE !!!";}
  50% {content: "MANAGE & HAVE YOUR CUSTOMERS CLOSE !!!";}
  60% {content: "WORK EFFICIENTLY WITH YOUR VENDORS/SUPPLIERS!!!";}
  70% {content: "KNOW WHO IS INVOLVED TRANSPORTING YOUR PRODUCTS !!!";}
  80% {content: "RECORD, MANAGE, ORGANIZE  AND TRACK YOUR EXPENSES !!!";}
  90% {content: "NOW CREATE, RECORD, TRACK AND ORGAINIZE YOUR INVOICES !!!";}
  100% {content: "NEVER HAVE NO WORRIES ABOUT TRACKING CUSTOMER DEBTS !!!";}
}


/* MORE INFO */
.tabs {
  display: flex;
  justify-content: space-between; /* Add space between tabs */
  background-color: #f0f0f0;
  cursor: pointer;
}

.tab {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  background: none;
  position: relative;
  animation: bg-spin 3s linear infinite; /* Add the animation */
}

.tab:hover {
    color: red;
}

.tab.active {
    border-bottom: 5px solid red;
    animation: none; /* Remove animation for active tab */
}

.card {
    /* 
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    border: 1px solid blue;
    border-radius: 5px;
    padding: 20px;
    background: linear-gradient(50deg,  #ff007f,  #cc00aa);
    margin: 20px;
    box-sizing: border-box;
    color: white;
    animation-name: content-anime1;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* THIS IS A LURE ME  */
.card:hover {
  transform: translateY(-10px) scale(1.1);
	background-image: none;
  box-shadow: 0px 20px 50px lightgreen;
	padding: 0.5%;
  margin-top: 3.0%;
	border: 0.1cm solid aqua;
  border-radius: 4cm;
  border-right: 4cm;
  color: green;
  flex-flow: wrap;
	overflow: auto;
  border-top-left-radius: 0.8cm;
  border-top-right-radius: 0.8cm;
  border-bottom-left-radius: 0.8cm;
  border-bottom-right-radius: 0.8cm;
}

.content {
    display: none;
}

.content.active {
    display: block;
}

@keyframes bg-spin {
    to {
        --border-angle: 1turn;
    }
}

.boxed1{
  width: 300px;
  height: 300px;
  background: linear-gradient(50deg,  #ff007f,  #cc00aa);
  margin: 20px;
  box-sizing: border-box;
  color: white;
	animation-name: content-anime1;
	animation-duration: 5s;
	animation-fill-mode: forwards;
}

.boxed1:hover {
  transform: translateY(-20px) scale(1.1);
	background-image: none;
  box-shadow: 20px 20px 10px lightgreen;
	padding: 0.5%;
	border: 0.1cm solid aqua;
  border-radius: 4cm;
  border-right: 4cm;
  color: green;
  flex-flow: wrap;
	overflow: auto;
  padding: 20%;
  border-top-left-radius: 0.8cm;
  border-top-right-radius: 0.8cm;
  border-bottom-left-radius: 0.8cm;
  border-bottom-right-radius: 0.8cm;
}

@keyframes content-anime1 {
    0%{left: -1000px;}
	  100%{left: 0;}
}

/* MORE INFO */
.heading1 h1::before
{
	content: attr(data-text);
	/* padding-top:0;
	margin-top: 0;
	margin-bottom: 10%;
	padding-bottom: 0;
	position: absolute; */
	left: 0;
	width: 0;
	color: white;
	/*color: blue;*/
	font-size: 2.5vw;
	-webkit-text-stroke: 0.3vw blue;
	border-right: 10px solid red;
	overflow: hidden;
	white-space: no-wrap;
	animation: roll-back2 20s steps(36) infinite;
	/*6s linear infinite;*/
}


@keyframes roll-back2 {
    0%, 10%, 100%
	{width:0; }
	70%, 90% 
	{width: 250px; }
}

.More-Content-Paragraph {
  width: 80%;
  height: 80%;
  /* background-image: url(IMAGES/img9.jpg); */
  background-color: silver;
  /* background-size: 100%; */
  background-size: cover;
  margin: 20px;
  border-radius: 10%;
  box-sizing: border-box;
  color: white;
}

.More-Content-Paragraph:hover {
  transform: translateY(-20px) scale(1.1);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 1);
  border-radius: 10%;
  border-color: linear-gradient(48deg,  #89ff00, #010615, #00bcd4);
}

/* PURCHASE SECTION */
.payment-card {
  display: flex;
  width: auto;
  border: 1px solid blue;
  border-radius: 30px;
  padding: 20px;
  backdrop-filter: blur(50px); /* Adjust the blur strength as needed */
  z-index: 2;
}

.timer {
  font-size: 1.5rem;
  color: red;
  font-size: 40px;
}

.payment-left p{
  font-size: 15px;
}


cursor {
  color: white;
}

input, select {
  width: 100%;
  margin-top: 1.5%;
  background: transparent;
  border: none;
  border-bottom: 2px solid teal;
  font-size: 1.2em;
  color: green;
}

#dropdown {
  border: 2px solid teal;
}

[type="checkbox"],
	[type="radio"] {
			width: auto;
	}

fieldset {
  border-color: teal;
  border-style: solid;
}

.payment-container {
  border-radius: 30px;
  margin: 2% 5% 2% 5%;
  padding: 1% 2% 1% 2%;
  background-color: lightgray;
  border-color: teal;
  border-style: dashed;
  width: fit-content;
}


.foot {
  text-align: center;
  font-family: 'Special Elite', Helvetica, sans-serif;
  color: green;
  padding: 0% 0% 1% 0%;
}



/* Style the PayPal button */
input[type="image"] {
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

/* CONTACT US SECTION */

.contact-card {
  display: flex;
  width: auto;
  border: 1px solid blue;
  border-radius: 30px;
  padding: 20px;
  backdrop-filter: blur(50px); /* Adjust the blur strength as needed */
  z-index: 2;
  background: linear-gradient(50deg,  #ff007f,  #cc00aa);
  color: black;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.contact-left h1{
  color: white;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.contact-left p{
  color: white;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.contact-container {
  border-radius: 30px;
  margin: 2% 5% 2% 5%;
  padding: 1% 2% 1% 2%;
  background-color: lightgray;
  border-color: teal;
  border-style: dashed;
  width: fit-content;
}


.foot {
  text-align: center;
  font-family: 'Special Elite', Helvetica, sans-serif;
  color: green;
  padding: 0% 0% 1% 0%;
}



.button {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  background-color: white;
  cursor: pointer;
  padding: 2% 0% 2% 0%;
}

textarea {
  width: 100%;
  height: 100px;
  margin-top: 1.5%;
  resize: none;
  background-color: white;
  border: 2px solid black;
  font-family: Helvetica, sans-serif;
  font-size: 1.2em;
  color: black;
}

/* FAQS SECTION */
#faqs{
  background-color: blue;
  margin-top: 0px;
  /* Remove fixed height */
  height: auto;
  /* Allow text to wrap */
  word-wrap: break-word;
}

#faqs h1{
  color: white;
  padding: 2%;
}

.layout {
  width: auto;
  margin: auto;
  margin-top: 2.0%;
}

.accordion {
  padding: 10px;
  margin-top: 0.5px;
  margin-bottom: 10px;
  background: lightgreen;
  border-radius: 10px;
}
.accordion__question p {
  margin: 0.5px;
  padding: 0;
  font-family: Verdana;
  font-size: 20px;
}
.accordion__answer p {
  margin: 5px;
  padding: 10px;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(255, 255, 255);
  background: blue;
  border-radius: 10px;
}
.accordion:hover {
  cursor: pointer;
}
.accordion__answer {
  display: none;
}
.accordion.active .accordion__answer {
  display: block;
}


/* FOOTER SECTION */
.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30%;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url('wave.png') repeat-x;
  /* background: url("https://i.ibb.co/wQZVxxk/wave.png"); */
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite !important;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite ;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}


#s1:checked ~ #slide4, #s2:checked ~ #slide5,
#s3:checked ~ #slide1, #s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  transform: translate3d(-30%,0,-200px);
}

#s1:checked ~ #slide5, #s2:checked ~ #slide1,
#s3:checked ~ #slide2, #s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(-15%,0,-100px);
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide3, #s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
  transform: translate3d(0,0,0);
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide4, #s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(15%,0,-100px);
}

#s1:checked ~ #slide3, #s2:checked ~ #slide4,
#s3:checked ~ #slide5, #s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  transform: translate3d(30%,0,-200px);
}

#slide1 { background-image: url("IMAGES/SLIDES/image1.jpg");
          background-size: cover;}
#slide2 { background-image: url("IMAGES/SLIDES/image2.png");
          background-size: cover;}
#slide3 { background-image: url("IMAGES/SLIDES/image3.jpg");
          background-size: cover;}
#slide4 { background-image: url("IMAGES/SLIDES/fb1.png");
          background-size: cover; }
#slide5 { background-image: url("IMAGES/SLIDES/fb3.png");
          background-size: cover; }

.services-p::before,
.services-p::after {
    content: "";
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.services-p::before {
    text-transform: lowercase;
    background: aqua;
    animation: typewriter 3s steps(23) forwards;
}

@keyframes typewriter {
    to{
        left: 100%;
        height: 100%;
    }
}

.box {
    margin-top: 10%;
    margin-left: 40%;
    margin-right: 30%;
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;
}

@keyframes animate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
}

.box span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding:0%;
}


/* THE TABLET AND MOBILE SIZING SETTINGS  */

/* THE TABLET SIZING */
@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;}

  .plate {
    width: 450px;
    margin-top: 0%;
    padding-top: 0%;
    margin-left: 0.2%;
    padding-left: 0.2%;
    margin-right: 15%;
  }

  .tabs {
    margin-top: 10%;
  }
  
  .card content {
    margin-bottom: 10%;
  }
  
  #More {
    padding-bottom: 10%;
    padding-top: 10%;
  }
}


/* THE MOBILE SIZING */
@media (max-width: 800px) {
  .plate p {
    width: 1px;
    font-size: 0.1em;
  }

  .plate {
    width: 450px;
    margin-top: 0%;
    padding-top: 0%;
    margin-left: 0.2%;
    padding-left: 0.2%;
    margin-right: 5%;
  }

  .tabs {
    margin-top: 10%;
  }
  
  .card content {
    margin-bottom: 10%;
  }

  #More {
    padding-bottom: 10%;
    padding-top: 10%;
  }

  .text1 {
    font-size: 15px;
  }
  
  .text2 {
    font-size: 50px;
  }
  
  .text3 {
    font-size: 15px;
  }
  
  .circular-slider .wrapper .descriptions__item h1 {
    font-size: 3.0em;
    padding-top: 0.5px; }

  .circular-slider .wrapper .descriptions__item .description {
    font-size: 2.0em;
    margin-top: 5px;
    padding: 0% 10%;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow-y: hidden;
     }

  
/* THE PAYMENT SECTION */
  .payment-card {
    flex-direction: column;
  }

  .payment-container {
    border-radius: 25px;
    margin: 0% 3% 5% 3%;
    padding: 3% 5% 3% 5%;
    background-color: blueviolet;
    color: green;
  }


/* THE CONTACT SECTION */
  .contact-card {
    flex-direction: column;
  }

  .contact-container {
    border-radius: 25px;
    margin: 0% 3% 5% 3%;
    padding: 3% 5% 3% 5%;
    background-color: blueviolet;
    color: green;
  } 

}